.bg-bubbles {
  
  width: 100%;
  height: 100%;
  
}

.bg-bubbles li {
  
}







#cuadro{
  z-index: 2;
}


@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-900px) rotate(600deg);
    transform: translateY(-900px) rotate(600deg);
  }
}


@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-900px) rotate(600deg);
    transform: translateY(-900px) rotate(600deg);
  }
}